
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Семестры</title>
</head>
<body>   
    <table class="table table-hover">
        <tr>
            <th>Семестр</th>
            <th>Действие</th>
        </tr>
        @if (ViewBag.semesters != null)
        {
            foreach (var semester in ViewBag.semesters)
            {
                <tr>
                    <td><a href="/Semester/Semester/@semester.ID">@semester.Name</a></td>
                    <td><a href="/Semester/Del/@semester.ID" class="btn btn-primary btn-danger">Удалить</a></td>
                </tr>
            }
        }
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление семестра</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Semester", FormMethod.Post))
                    {
                    <div class="form-group">
                        <label for="Abbreviation">Название</label>
                        <input type="text" class="form-control" id="Abbreviation" name="Name" placeholder="Название">

                        <label for="StartDate">StartDate</label>
                        <input type="date" class="form-control" id="StartDate" name="StartDate" aria-describedby="StartDate" placeholder="Введите описание">
                        <label for="EndDate">EndDate</label>
                        <input type="date" class="form-control" id="EndDate" name="EndDate" aria-describedby="EndDate" placeholder="Введите описание">
                        <label for="SessionStart">SessionStart</label>
                        <input type="date" class="form-control" id="SessionStart" name="SessionStart" aria-describedby="SessionStart" placeholder="Введите описание">
                        <label for="SessionEnd">SessionEnd</label>
                        <input type="date" class="form-control" id="SessionEnd" name="SessionEnd" aria-describedby="SessionEnd" placeholder="Введите описание">
                    </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>    
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-block btn-lg" data-toggle="modal" data-target="#Add">Добавить &equiv;</a></li>
    </ul>
</body>
</html>