@{
    ViewBag.Title = "Home Page";
}
<div class="media-object col-md-12 col-xs-12">
    <h1>Кыргызский Государственный Технический Университет им. Раззакова</h1>
    <p class="lead">КГТУ</p>
    <p><a href="https://kstu.kg/" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
    @Html.ActionLink("Факультет", "Faculty", "Faculty")
    @*<p><a href="~/Views/Faculty/Faculty.cshtml" class="btn btn-primary btn-lg"> &raquo;</a></p>*@
    @*<form action="/search/" class="search" method="get">
            <input type="text" class="input-text" name="q" value="">
            <input type="submit" class="btn">
        </form>*@
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Регистрация</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
            <div class="form-group">
                <label for="exampleInput">Номер зачётки или паспорта, ключевое слово</label>
                <input type="text" name="number" class="form-control" id="exampleInput" aria-describedby="name" placeholder="Введите номер">
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Подтвердите пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            @*<div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>*@
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
}
            </div>
            
        </div>
   </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Авторизация</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInput">Номер зачётки или паспорта, ключевое слово</label>
                        <input type="text" class="form-control" id="exampleInput" aria-describedby="name" placeholder="Введите номер">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Пароль</label>
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/Modal.js"></script>*@