@{
    ViewBag.Title = "Semester";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Факультеты</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="row">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Регистрация", "Register", "Account")</li>*@
                    <li><a href="#" data-toggle="modal" data-target="#exampleModal">Добавить &dagger;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Полное название факультета</th>
            <th>Сокращённое название</th>
            <th>Действие</th>
        </tr>
        <tr>
            <td><p>Программное Обеспечение Компьютерных Систем</p></td>
            <td><p>ПОКС</p></td>
            <td><p><a href="#" class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        <tr>
            <td><p>Факультет</p></td>
            <td><p>Факул</p></td>
            <td><p><a href="#" class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        }
    </table>
</body>
</html>

