
@{
    ViewBag.Title = "Department";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Предметы</title>
</head>
<body>   
    <table class="table table-hover">
        <tr>
            <th>Предмет</th>
            <th>Действие</th>
        </tr>
        @if (ViewBag.subjects != null)
        {
            foreach (var subject in ViewBag.subjects)
            {
                <tr>
                    <td><a href="/Subject/Subject/@subject.ID">@subject.Name</a></td>
                    <td><a href="/Subject/Del/@subject.ID" class="btn btn-primary btn-danger">Удалить</a></td>
                </tr>
            }
        }
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление кафедры</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Subject", FormMethod.Post))
                    {
                    <div class="form-group">
                        <label for="Abbreviation">Аббревиатура</label>
                        <input type="text" class="form-control" id="Abbreviation" name="Name" placeholder="Аббревиатура">

                        <label for="FullName">Описание</label>
                        <input type="text" class="form-control" id="FullName" name="Info" aria-describedby="name" placeholder="Введите описание">
                        <label for="ManagerId">ManagerId</label>
                        <input type="text" class="form-control" id="ManagerId" name="ManagerId" aria-describedby="Manager" placeholder="Введите описание">
                    </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>    
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-block btn-lg" data-toggle="modal" data-target="#Add">Добавить &equiv;</a></li>
    </ul>
</body>
</html>