
@{
    ViewBag.Title = "Department";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Кафедры</title>
    @*<style>
        a::first-line {
            color: blueviolet;
        }

        a:link {
            color: black; /* Цвет ссылок */
            padding: 5px; /* Поля вокруг текста */
        }

        a:hover {
            background: #000; /* Цвет фона под ссылкой */
            color: aqua; /* Цвет ссылки */
        }
    </style>*@
</head>
<body>
    <table class="table table-hover">
        <tr>
            <th>Кафедра</th>
            <th>Действие</th>
        </tr>

        @if (ViewBag.departments != null)
        {
            foreach (var department in ViewBag.departments)
            {
                <tr>
                    <td><a href="/Department/Department/@department.ID">@department.Name</a></td>
                    <td><a href="/Department/Del/@department.ID" class="btn btn-primary btn-danger">Удалить</a></td>
                </tr>
            }
        }
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление кафедры</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Department", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="Abbreviation">Аббревиатура</label>
                            <input type="text" class="form-control" id="Abbreviation" name="Name" placeholder="Аббревиатура">

                            <label for="FullName">Описание</label>
                            <input type="text" class="form-control" id="FullName" name="Info" aria-describedby="name" placeholder="Введите описание">
                            <input type="hidden" class="form-control" name="ManagerId" />
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="nav navbar-nav navbar-right">
            <b><a class="btn btn-block btn-lg" data-toggle="modal" data-target="#Add">Добавить &equiv;</a></b>            
        </div>
        <div><b><a class="btn btn-default" href="/Flow/Index">Список потоков</a></b></div>
    </div>
</body>
</html>