@using WebApplication.Models
@{
    ViewBag.Title = "Registrstion";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Зарегистрированные студенты</title>
</head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Действие</th>
            </tr>
        </thead>
        @if (ViewBag.students != null)
    {
        foreach (var studentReg in (List<Student.StudentFlowSubject>)ViewBag.students)
        {

            <tr>
                @{
                Student student = Student.GetInstanceAsync(studentReg.StudentId).Result;
                Person studentInfo = Person.GetInstanceAsync(student.PersonId).Result;
                Group group = Group.GetInstanceAsync(student.GroupId).Result;
                }
                <td><a href="#">@studentInfo.ToString() (@group.Name)</a></td>
                <td><a href="Student/Del/registry/@studentReg.ID" class="btn btn-primary btn-danger">Удалить</a></td>
            </tr>
    }
}
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление студента</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("GetStudentRegistry", "Student", FormMethod.Post))
                    {
                        <div class="form-group">
                            
                            <label for="student">Выберите студента</label>
                            <select id="student">
                                
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-block btn-lg" href="/Student/registry/@ViewBag.flowSubjectId">Добавить &equiv;</a></li>
    </ul>
</body>
</html>

