@{
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Факультеты</title>
</head>
<body>
    <table class="table table-hover">
        <tr>
            <th>Лабораторная работа</th>
            <th>Действие</th>
        </tr>

        @if (ViewBag.labs != null)
    {
        foreach (var lab in ViewBag.labs)
        {
            <tr>
                <td><a href="/Lab/Lab/@lab.ID">@lab.Name</a></td>
                <td><a href="/Lab/Del/@lab.ID" class="btn btn-primary btn-danger">Удалить</a></td>
            </tr>
    }
}
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление лаораторной работы</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Lab", FormMethod.Post))
    {
                <div class="form-group">
                    <label for="Abbreviation">Аббревиатура</label>
                    <input type="text" class="form-control" id="Abbreviation" name="Name" placeholder="Аббревиатура">
                
                    <label for="FullName">Описание</label>
                    <input type="text" class="form-control" id="FullName" name="Info" aria-describedby="name" placeholder="Введите описание">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
}
                </div>
                </div>                
            </div>
        </div>
</body>
</html>

