@using WebApplication.Models
@{
    ViewBag.Title = "LabWorkStudent";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Лабораторные работы</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Название работы</th>
                    </tr>
                </thead>

                @{ 
                    List< ExecutedLabWork> exlabs = ViewBag.exlabs;
                }
                @foreach (var work in (List<LabWorkPlan>)ViewBag.workplan)
                {
                    ExecutedLabWork exWork = exlabs.Find(x => x.PlanId == work.ID);
                    <tr>
                        <td><a href="#">@work.Work.Name</a></td>
                        @if(exWork != null)
                        {
                            <td><font color="green">Выполнена</font></td>
                            <td><a href="#" class="btn btn-danger">Снять отметку</a></td>
                        }
                        else
                        {
                            <td><font color="red">Не выполнена</font></td>
                            <td>
                                <form action="/Lab/exec" method="post">
                                    <input type="hidden" name="PlanId" value="@work.ID" />
                                    <input type="hidden" name="StudentFlowSubjectId" value="@ViewBag.studentFlowId" />
                                    <input type="submit" value="Отметить" class="btn btn-success" />
                                </form>
                            </td>
                        }
                    </tr>

                }


            </table>
        </div>
      </div>
</body>
</html>

