@{
    ViewBag.Title = "Faculty";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Факультеты</title>
</head>
<body>
    <table class="table table-hover">
        <tr>
            <th>Полное название факультета</th>
            <th>Сокращённое название</th>
            <th>Действие</th>
        </tr>
        <tr>
            <td><p>Программное Обеспечение Компьютерных Систем</p></td>
            <td><p>ПОКС</p></td>
            <td><p><a href="#" class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        <tr>
            <td><p>Факультет</p></td>
            <td><p>Факул</p></td>
            <td><p><a href="#" class="btn btn-primary btn-block">Изменить</a></p></td>
        </tr>
        }
    </table>
    @*<dl>
            <dt>ФИТ</dt>
            <dd>
                Факультет Информационных Технологий
            </dd>
            <dt>ИВТ</dt>
            <dd>
                ИВТ
            </dd>
        </dl>*@
</body>
</html>

