
@{
    ViewBag.Title = "Department";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Люди</title>
</head>
<body>   
    <table class="table table-hover">
        <tr>
            <th>ФИО</th>
            <th>Действие</th>
        </tr>
        @if (ViewBag.people != null)
        {            
            foreach (var person in ViewBag.people)
            {
                <tr>
                    <td><a href="/Person/Person/@person.ID">@person.ToString()</a></td>
                    <td><a href="/Person/Del/@person.ID" class="btn btn-primary btn-danger">Удалить</a></td>
                </tr>
            }
        }
    </table>
    <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="AddLabel">Добавление пользователя</h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Person", FormMethod.Post))
                    {
                    <div class="form-group">
                        <label for="Surname">Фамилия</label>
                        <input type="text" class="form-control" id="Surname" name="Surname" required placeholder="Фамилия">
                        <label for="Patronymic">Отчество</label>
                        <input type="text" class="form-control" id="Patronymic" name="Patronymic" required placeholder="Отчество">
                        <label for="Name">Имя</label>
                        <input type="text" class="form-control" id="Name" name="Name" required placeholder="Фамилия">
                        <label for="Student_id">Student_id</label>
                        <input type="text" class="form-control" id="Student_id" name="Student_id" placeholder="№ зачётки или">
                        <label for="Passport_id">Passport_id</label>
                        <input type="text" class="form-control" id="Passport_id" name="Passport_id" placeholder="Или № паспорта">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>          
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>    
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-block btn-lg" data-toggle="modal" data-target="#Add">Добавить &equiv;</a></li>
    </ul>
</body>
</html>