
@{
    ViewBag.Title = "Up";
}

<div class="row">
    @using (Html.BeginForm("Up", "Person", FormMethod.Post))
    {
        <label for="Name">Название</label>
        <input type="text" class="form-control" id="Name" name="Name" aria-describedby="name" placeholder="Введите название"
               value="@ViewBag.person.Name" />
        <label for="Info">Описание</label>
        <input type="text" class="form-control" id="Info" name="Info" aria-describedby="info" placeholder="Введите название"
               value="@ViewBag.person.Info" />
        <input type="hidden" value="@ViewBag.person.ID" />
        <input type="submit" class="btn btn-submit" value="Изменить" />
    }
</div>

